@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;400;700&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, .linkbtn {
    font-family: 'Staatliches', cursive;
}
p, li, a, blockquote {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.hero {
    margin: 25px auto;
    max-width: 1000px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.hero img, .hero .content {
    margin: 0;
    padding: 0;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.hero .img-holder {
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid #09a1cb;
    width: 50vw;
    height: 50vw;
    max-width: 50vh;
    max-height: 50vh;
    position: relative;
}
.hero .img-holder .accent-dot {
    position: absolute;
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    background-color: #09a1cb;
    top: 0;
    z-index: -1;
}
.hero .img-holder .accent-dot:nth-of-type(2) {
    bottom: 0;
    right: 0;
    top: auto;
}
.hero .img-holder .accent-dot:nth-of-type(3) {
    bottom: 15px;
    left: 15px;
    top: auto;
    width: 50px;
    height: 50px;
    background-color: #fe4e86;
}
.hero .img-holder .accent-dot:nth-of-type(4) {
    top: 15px;
    right: 15px;
    bottom: auto;
    width: 50px;
    height: 50px;
    background-color: #fe4e86;
}
.hero .content {
    flex: 1;
}
.hero h1 {
    border-bottom: 5px solid #09a1cb;
    margin-bottom: 15px;
    font-size: 40px;
}
.hero h1 span {
    color: #ff6797;
}

.linkbtn {
    background-color: #09cba7;
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-top: 15px;
    text-align: center;
    transition: all .5s;
    border: 5px solid #09cba7;
    font-size: 20px;
}
.linkbtn:hover {
    color: #09cba7;
    background-color: transparent;
}

