* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1f1f1f;
    color: #eeeeee;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 200px 550px 200px 1fr;
    margin: 36px;
    grid-template-areas:
        ". left-sidebar main right-sidebar ."
    ;
}

#sidebar-1 h2, #sidebar-2 h3 {
    border-bottom: 2px solid #aaaaaa;
    padding-bottom: 8px;
}
#sidebar-1 ul, #sidebar-2 ul {
    list-style-type: none;
    padding: 0px;
}
#sidebar-1 ul li, #sidebar-2 ul li {
    padding: 4px 0px;
}
#sidebar-1 ul a, #sidebar-2 ul a {
    color: #eeeeee;
    text-decoration: none;
}
#sidebar-1 {
    margin-left: 24px;
    grid-area: left-sidebar;
}
#sidebar-2 {
    margin-right: 24px;
    grid-area: right-sidebar;
}

#primary-column {
    padding: 0px 36px;
    grid-area: main;
}

#primary-column .inner-content {
    /* background-color: #343434;
    padding: 24px;
    border-radius: 24px; */
    max-width: 600px;
    margin: 0 auto;
}

#sidebar-1 .inner-content, #sidebar-2 .inner-content {
    background-color: #343434;
    padding: 24px;
    border-radius: 4px;
    position: sticky;
    top: 24px;
}