* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#header, #footer {
    width: 100vw;
}

#header {
    height: 100vh;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.hero-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
}
.hero-content h1 {
    font-size: 4rem;
    margin: 0px;
}
.hero-content h3 {
    margin: 15px 0px 30px;
    font-size: 1.5rem;
}

.hero-content a {
    display: inline-block;
    background-color: #00be06;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.25rem;
}

#main .promotion {
    width: 80vw;
    max-width: 1000px;
    margin: 25px auto;
    height: 50vh;
    display: flex;
    gap: 25px;
    align-items: center;
}
.promotion .img-contain {
    height: 100%;
    flex: 1;
}
.promotion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promotion .content {
    flex: 1;
}

#main .cards {
    display: flex;
    height: 50vh;
}

.cards .card {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card1 {
    background: linear-gradient(to top, #00000088, #00000088), url(../images/pie.png);
    background-size: cover;
    background-position: center;
}
#card2 {
    background: linear-gradient(to top, #00000088, #00000088), url(../images/drinks.png);
    background-size: cover;
    background-position: center;
}

.cards a, .promotion a {
    display: inline-block;
    background-color: #00be06;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

.promotion a {
    display: block;
}

#footer {
    background-color: #2f2f2f;
}

#footer .links {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 25px 0px;
    justify-content: center;
}
.links a {
    color: white;
    text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 725px) {
    .hero-content h1 {
        font-size: 2.75rem;
    }
    .hero-content h3 {
        font-size: 1.125rem;
    }
    #main .cards {
        flex-direction: column;
        height: 100vh;
    }
}

@media screen and (max-width: 480px) {
    .hero-content h1 {
        font-size: 1.625rem;
    }
    .hero-content h3 {
        font-size: 1rem;
    }
    .hero-content a {
        display: block;
        font-size: 1.125rem;
    }
    #main .promotion {
        flex-direction: column;
        height: auto;
    }
    .promotion .img-contain {
        height: 200px;
        width: 100%;
        flex: auto;
    }
    .promotion .content {
        flex: auto;
    }
    #footer .links {
        flex-direction: column;
        align-items: center;
    }
}