@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Coustard:wght@900&family=Poppins:wght@200;400;700&family=Staatliches&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#section1 {
    background-image: linear-gradient(45deg, lavender, lavenderblush);
}

.contain {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px 0;
    font-family: 'Poppins', sans-serif;
}

.contain h2 {
    font-family: 'Coustard', serif;
    text-align: center;
}
.contain img {
    width: 100%;
    margin: 20px 0;
    border-radius: 80px;
    transition:
        filter .5s,
        border-radius .5s;
}
.contain img:hover {
    filter: saturate(200%);
    border-radius: 20px 100px;
}
.contain p {
    width: 75%;
    margin: 0 auto;
}

.linkbtn {
    display: block;
    width: 50%;
    border: 4px solid rgb(41, 173, 185);
    background-color: rgb(41, 173, 185);
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Coustard', serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    border-radius: 30px;
    transition:
        color .5s,
        background-color .5s;
}
.linkbtn:hover {
    background-color: transparent;
    color: rgb(41, 173, 185);
}