@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Coustard:wght@900&family=Poppins:wght@200;400;700&family=Staatliches&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contain {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 0;
    font-family: 'Poppins', sans-serif;
}

.contain h2 {
    font-family: 'Coustard', serif;
    text-align: center;
}
.contain img {
    width: 100%;
    margin: 20px 0;
    border-radius: 80pc;
}