* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.spacer {
    height: 50vh;
    background-image: url(../images/emerald-seas.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* HERO 1 */
#hero-1 {
    background-image: url(../images/lizard.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 15vw;
    padding-left: 10vw;
}

/* HERO 2 */
#hero-2 {
    background-image: url(../images/lonely-ocean.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: mediumspringgreen;
    color: darkslategrey;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

/* HERO 3 */
#hero-3 {
    background-image: url(../images/orange-wildflowers.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: orange;
    color: darkslategrey;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

/* HERO 4 */
#hero-4 {
    background-image: url(../images/stars-on-velvet.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

#hero-4 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-4 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}

#hero-4 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(131, 253, 255);
    color: rgb(70, 128, 176);
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}