@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    width: 200px;
}
/* Variables */
:root {
    --main: #005B45;
    --accent: #FFA47B;
}
/* general */
h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}
p, h3, a {
    font-family: 'Quicksand', sans-serif;
}
ul li a {
    text-decoration: none;
}

.logo {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}
.logo img {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(49deg) brightness(103%) contrast(101%);
    width: 3rem;
}
.logo img:last-child {
    transform: scaleX(-1);
}
.logo:hover img {
    filter: invert(78%) sepia(49%) saturate(1238%) hue-rotate(309deg) brightness(107%) contrast(101%);
}
.logo:hover {
    color: var(--accent);
}

/* Header and Nav */
#header {
    padding: 1.25rem 0px;
    background-color: #232323;
}
.nav {
    color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.25rem;
}
.nav ul li a {
    color: #fff;
    transition: all .5s;
    font-size: 1.25rem;
}
.nav ul li a:hover {
    color: var(--accent);
}
.lvl1 {
    display: flex;
    justify-content: space-between;
}
.lvl1 #search {
    background-color: #c2c2c2;
    border: 2px solid #c2c2c2;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    cursor: text;
    font-weight: 600;
    width: 30%;
    max-width: 800px;
    transition: all 0.5s;
}
#search:hover {
    border-color: var(--accent);
    color: #fff;
    background-color: #444;
}
.lvl1 #acct i, .lvl1 #cart i {
    margin-left: .5rem;
}
.lvl2 {
    margin-top: 1.25rem;
}

/* MAIN */
/* section 1 */
.sect1 {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 250px 250px 2fr;
    grid-template-rows: 250px 250px max-content max-content auto 200px 200px;
    grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box3"
        "head1 head1 box3"
        "head2 head2 head2"
        "head3 head3 box6"
        "box7 box7 box6"
        "box8 box8 box6"   
    ;
}
#aimg1 {
    grid-area: box3;
}
#aimg2 {
    grid-area: box1;
}
#aimg3 {
    grid-area: box2;
}
#aimg4 {
    grid-area: box4;
}
#aimg5 {
    grid-area: box5;
}
#aimg6 {
    grid-area: box6;
}
#aimg7 {
    grid-area: box7;
}
#aimg8 {
    grid-area: box8;
}
.sect1 h2 {
    grid-area: head1;
    font-size: 2rem;
    letter-spacing: 0.2em;
    color: var(--accent);
    align-self: self-end;
}
.sect1 h1 {
    grid-area: head2;
    font-size: 6rem;
    letter-spacing: 0.12em;
}
.sect1 h3 {
    grid-area: head3;
    font-weight: 300;
    letter-spacing: 0.12em;
    line-height: 1.5em;
    font-style: italic;
    font-size: 1.5rem;
    color: var(--main);
    align-self: center;
    border-left: 0.5px solid var(--main);
    padding-left: 1rem;
}
.sect1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-link {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-link.portrait {
    max-height: 100%;
}
.img-link div {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.5s,
        opacity 0.5s;
}
.img-link p {
    position: absolute;
    color: var(--accent);
    font-weight: 600;
    text-align: center;
    border-top: 0.5px solid var(--accent);
    border-bottom: 0.5px solid var(--accent);
    padding: 0.5rem 0px;
    visibility: hidden;
    opacity: 0;
    font-size: 1.125rem;
    z-index: 2;
    transition:
        visibility 0.5s,
        opacity 0.5s;
}
.img-link:hover img {
    filter: grayscale(100%);
}
.img-link:hover p, .img-link:hover div {
    visibility: visible;
    opacity: 0.7;
}
.img-link:hover p {
    opacity: 1;
}

/* section 1 */
.sect2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.sect2 a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;
    color: #fff;
    text-decoration: none;
}
.sect2 a p {
    color: var(--accent);
}
.sect2 h2 {
    font-size: 2rem;
    letter-spacing: 0.01em;
    transition: letter-spacing 0.5s;
}
.sect2 a:hover h2 {
    letter-spacing: 0.2em;
}
.banner {
    flex: 100%;
}
.card {
    flex: 1;
}
#banner1 {
    background: linear-gradient(45deg, #000000aa, #000000aa), url(../images/styles.jpg);
    background-position: center;
    background-size: cover;
}
#banner2 {
    background: linear-gradient(45deg, #000000aa, #000000aa), url(../images/sales.jpg);
    background-position: center;
    background-size: cover;
}
#card1 {
    background: linear-gradient(45deg, #000000aa, #000000aa), url(../images/card-1.jpg);
    background-position: center;
    background-size: cover;
}
#card2 {
    background: linear-gradient(45deg, #000000aa, #000000aa), url(../images/card-2.jpg);
    background-position: center;
    background-size: cover;
}

/* FOOTER */
#footer {
    color: #fff;
    padding: 2rem 0px;
    background-color: #232323;
}
#footer div {
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
}
#footer ul {
    text-decoration: none;
    list-style-type: none;
}
#footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
#footer .links {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    gap: 1.25rem;
    margin: 2rem auto;
    max-width: 400px;
}
#footer ul li a {
    color: #fff;
    font-size: 1.125rem;
}
#footer p {
    text-align: center;
    margin-top: 0.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    /* Header and Nav */
    .nav ul {
        flex-wrap: wrap;
    }
    .nav .lvl1 {
        justify-content: center;
        gap: 2rem;
    }
    .nav .lvl1 .logo {
        font-size: 1.8rem;
        align-items: center;
    }
    .lvl1 #search {
        flex: 100%;
        font-size: 1.25rem;
    }
    .lvl2 li {
        flex: 100%;
        text-align: center;
    }
    #cart, #acct {
        flex: 1;
        text-align: center;
    }
    .sect1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px max-content 150px max-content 150px max-content 150px;
        gap: 0.5rem;
        grid-template-areas:
            "box1 box3"
            "box4 box5"
            "head1 box5"
            "box2 box2"
            "head2 head2"
            "box7 box7"
            "head3 box6"
            "box8 box8"   
        ;
    }
    .sect1 h1 {
        font-size: 3rem;
        text-align: center;
    }
    .sect1 h3 {
        grid-area: head3;
        letter-spacing: 0.12em;
        font-size: 1rem;
    }
    .sect1 h3 br {
        display: none;
    }
    .card {
        flex: 100%;
    }
    #footer .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}