/* Drill 1 - Write your code solution below */
#d1-container-1 {
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
#d2-div-1 {
    padding: 48px 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div-2 {
    padding: 30px 48px;
}

/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */

