* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#main {
    background: radial-gradient(at top left, #a8f3f2, #16B6B3);
    padding: 48px;
}

/* side by side implementation */
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .text-container h3 {
    font-size: 48px;
}
.side-by-side .text-container .a-btn {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #1F221C;
    color: #FFFFFF;
    padding: 24px 48px;
    border-radius: 48px;
    transition: color .5s;
}
.side-by-side .text-container .a-btn:hover {
    color: #16B6B3;
}

/* Three Cards implementation */
#card-section {
    background-color: #FF0000;
    padding: 48px;
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid white;
    padding: 36px;
    text-align: center;
    margin: 36px;
}
.card h3 {
    font-size: 36px;
    margin: 0;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

/* Comparison layout implementation */
#second-main {
    background: radial-gradient(at top right, #DAF7DC, #DAF7DC, #F7DBA7);
    padding: 48px;
}

.comparisons-container {
    text-align: center;
    margin: 60px 0px;
}

.comparisons-container h3 {
    font-size: 36px;
}

.comparisons-layout-1 {
    display: flex;
    justify-content: center;
}

.comparisons-layout-1 .comparison-column {
    background-color: #0D6594;
    color: white;
    padding: 24px;
}

.comparisons-layout-1 .comparison-column h4, .comparisons-layout-1 .comparison-column p {
    padding: 24px 48px;
}

.comparisons-layout-1 .comparison-column h4 {
    font-size: 24px;
    background-color: #7591C1;
    margin: 0;
}

.comparisons-layout-1 .comparison-column p {
    font-size: 18px;
    margin: 0px;
    border-top: 3px solid #2F92BA;
}
.comparisons-layout-1 .comparison-column .label {
    display: block;
    font-weight: bolder;
    padding-bottom: 12px;
}

/* Comparison layout 2 styles */
.comparisons-layout-2 {
    background-color: #E5F77D;
    padding: 36px;
}
.comparison-row {
    display: flex;
    border-bottom: 3px solid #5C5D8D;
    color: #14213d;
}

.comparison-row.comparison-header {
    font-weight: bolder;
}
.comparison-row div {
    flex: 1;
    padding: 24px;
    font-size: 24px;
}