/* Drill 1 - Write your code solution below */
#d1-div1, #d1-div2, #d1-div3 {
    display: inline;
}
/* 
    below is an easier way of doing the above since they all share the same class
    .d1-div {
        display: inline;
    }
 */
/* Drill 2 - Write your code solution below */
.d2-span {
    display: block;
}

/* Drill 3 - Write your code solution below */
.d3-div {
    display: inline-block;
}

/* Drill 4 - Write your code solution below */
.d4-div {
    display: inline-block;
}

/* Drill 5 - Write your code solution below */
.d5-div {
    display: inline-block;
    width: 265px;
    height: 100%;
}
/* 
    Due to the ANNOYING inconsistency in size, we can use the method below to shrink the element that's causing the inconsistency. This is not required.
*/
#d5-div2 h2 {
    width: 90%;
}

/* Drill 6 - Write your code solution below */
#d6-div2, #d6-div3 {
    display: inline-block;
    width: 48%;
}